@import "login.css";
@import "profile.css";
@import "status.css";
@import "setting.css";

body {
  overflow-y: scroll;
  font-family: "adelle", Tahoma, "Times New Roman", serif;
  background: url(/static/images/body-bg.png) repeat 0 0 #e9e9e9;
}

ol, ul {
  list-style: none;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 14px;
  z-index: 999;
}

.navbar .container {
  position: relative;
  width: 980px;
  margin: 0 auto;
}

.navbar-inner {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0 !important;
}

.fork2github {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.dropdown-toggle {
  cursor: pointer;
}

.wrapper {
  width: 980px;
  margin: 70px auto 0;
}

.wrapper .alert {
  margin-bottom: 10px;
}

.footer {
  width: 980px;
  margin: 10px auto;
}

