.from a {
  opacity: 0.17;
}

.from a:hover {
  opacity: 0.47;
}

.oauth a {
  opacity: 1;
}

.from {
  display: inline-block;
  margin: 0 0 -2px 0;
}

.from a {
  background: url("../images/sns.png") no-repeat;
  display: inline-block;
  text-indent: -9999em;
  width: 16px;
  height: 16px;
}

.from.twitter a {
  background-position: 0 -16px;
}

.from.sina a {
  background-position: 0 -32px;
}

.from.douban a {
  background-position: 0 -48px;
}

.from.wordpress a {
  background-position: 0 -64px;
}

.from.thepast a {
  background-position: 0 -80px;
}

.from.renren a {
  background-position: 0 -96px;
}

.from.instagram a {
  background-position: 0 -112px;
}

.user-page .hero-unit {
  background-color: #fff;
}
