.status-body {
  background-color: #fff;
  border: 1px solid #e0dede;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
}

.status-avatar {
  width: 50px;
}

.status-avatar img {
  vertical-align: top;
}

.status-date {
  display: inline-block;
}

.status-retweet {
  color: #888;
}
