<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <!--仅供DispatcherServlet初始化时候用，因为必需要一个文件，否则会引发异常，
        因此存在此文件；
        现由annotation驱动，因此没有任何配置项-->

</beans>
